{% extends "home-layout.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %} 
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<h1>{{message}} {{category}}</h1>
{% endfor %}
{% endif %}
{% endwith %}

<!-- #######CONTENT####### -->
<div class="mt-5"></div>
<div class="box div-bg">
    <h1 class="title is-4 has-text-white">Jadwal Kuliah</h1>
</div>
<div class="box">
  <div class="buttons">
    <a href="" class="button is-rounded" style="width:150px"><span class="icon is-small"><i class="fa fa-calendar-day"></i></span><span>Hari</span></a>
    <a href="" class="button is-rounded" style="width:150px"><span class="icon is-small"><i class="fa fa-calendar-day"></i></span><span>Mata Kuliah</span></a>
    <a href="" class="button is-rounded"><span>Senin</span></a>
    <a href="" class="button is-rounded"><span>Selasa</span></a>
    <a href="" class="button is-rounded"><span>Rabu</span></a>
    <a href="" class="button is-rounded"><span>Kamis</span></a>
    <a href="" class="button is-rounded"><span>Jum'at</span></a>
    <a href="" class="button is-rounded"><span>Sabtu</span></a>
  </div>
</div>
<div class="box">
    <div class="history-tl-container">
        <ul class="tl">
          {%for j in jadwal%}
            <li class="tl-item" ng-repeat="item in retailer_history">
              <div class="timestamp">
                {{ j.hari.strftime('%A') }}<br> {{ j.hari.strftime('%H:%M') }}
              </div>
              <div class="item-title"> {{ j.subject.nama_mk }}</div>
              <div class="item-detail">  {{ j.lecturer.nama_dosen }} <br> <span class="fa fa-university has-text-primary"></span> {{j.ruang}} <span class="fa fa-users has-text-primary"></span>  {{j.kelas}}</div>
            </li>
          {%endfor%}
      
        </ul>
      
      </div>
</div>

{% endblock %}

{% block sidebar %}
<div class="box mt-5">
  <div class="mt-2 mb-2 has-text-centered">
    <a href="{{ url_for('tambahjadwal') }}" class="button is-success is-rounded is-light is-fullwidth"><span class="icon is-small"><i class="fas fa-plus-circle"></i></span><span>Tambah Jadwal</span></a>
</div>
<div class="mt-2 mb-2 has-text-centered">
    <a href="{{ url_for('tambahjadwal') }}" class="button is-warning is-rounded is-light is-fullwidth"><span class="icon is-small"><i class="fas fa-list"></i></span><span>Ubah Jadwal</span></a>
</div>
</div>
{% endblock %}
