{% extends "home-layout.html" %}

{% block kodeMK %}{{ kodeMK }}{% endblock %}

{% block content %} 
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for jumlahSKS, message in messages %}
<h1>{{message}} {{jumlahSKS}}</h1>
{% endfor %}
{% endif %}
{% endwith %}

<!-- #######CONTENT####### -->
<div class="mt-5"></div>
<div class="box div-bg">
  <h1 class="title is-4 has-text-white"><a href="{{url_for('jadwalkuliah')}}" class="has-text-white">Jadwal Kuliah</a> / <span class="has-text-warning">Tambah</span></h1>
</div>
<div class="mt-4 mb-4">
  <div class="box">
    <form method="POST" action="">
      {{ form.hidden_tag() }}
      <div class="field">
        {{ form.kodeMK.label(class="label") }}
            {% if form.kodeMK.errors %}
                {{ form.kodeMK(class="input is-danger") }}
                <div class="help is-danger">
                    {% for error in form.kodeMK.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.kodeMK(class="input") }}
            {% endif %}
      </div>

      <div class="field">
        {{ form.mataKuliah.label(class="label") }}
            {% if form.mataKuliah.errors %}
                {{ form.mataKuliah(class="input is-danger") }}
                <div class="help is-danger">
                    {% for error in form.mataKuliah.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.mataKuliah(class="input") }}
            {% endif %}
      </div>

      <div class="field">
        {{ form.jumlahSKS.label(class="label") }}
        <div class="select">
            {% if form.jumlahSKS.errors %}
                {{ form.jumlahSKS() }}
                <div class="help is-danger">
                    {% for error in form.jumlahSKS.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.jumlahSKS() }}
            {% endif %}
        </div>
      </div>

      <div class="field">
        {{ form.semester.label(class="label") }}
        <div class="select">
            {% if form.semester.errors %}
                {{ form.semester() }}
                <div class="help is-danger">
                    {% for error in form.semester.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.semester() }}
            {% endif %}
        </div>
      </div>

      <div class="field">
        {{ form.dosen.label(class="label") }}
            {% if form.dosen.errors %}
                {{ form.dosen(class="input is-danger") }}
                <div class="help is-danger">
                    {% for error in form.dosen.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.dosen(class="input") }}
            {% endif %}
      </div>

      <div class="field">
        {{ form.hari.label(class="label") }}
        <div class="select">
            {% if form.hari.errors %}
                {{ form.hari() }}
                <div class="help is-danger">
                    {% for error in form.hari.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.hari() }}
            {% endif %}
        </div>
      </div>

      <div class="field">
        {{ form.jam.label(class="label") }}
        <div class="select">
            {% if form.jam.errors %}
                {{ form.jam() }}
                <div class="help is-danger">
                    {% for error in form.jam.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.jam() }}
            {% endif %}
        </div>
      </div>
    
      <div class="field">
        {{ form.kelas.label(class="label") }}
            {% if form.kelas.errors %}
                {{ form.kelas(class="input is-danger") }}
                <div class="help is-danger">
                    {% for error in form.kelas.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.kelas(class="input") }}
            {% endif %}
      </div>

      <div class="field">
        {{ form.ruangan.label(class="label") }}
            {% if form.ruangan.errors %}
                {{ form.ruangan(class="input is-danger") }}
                <div class="help is-danger">
                    {% for error in form.ruangan.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.ruangan(class="input") }}
            {% endif %}
      </div>
      <div class="has-text-centered">
        {{form.submit(class="button is-primary is-fullwidth")}}
      </div>

    </form>
  </div> <!--BOX-->
</div>

{% endblock %}

{% block sidebar %}

<div class="box mt-5">
  <div class="mt-2 mb-2 has-text-centered">
    <a href="{{ url_for('tambahjadwal') }}" class="button is-success is-rounded is-light is-fullwidth"><span class="icon is-small"><i class="fas fa-plus-circle"></i></span><span>Tambah Jadwal</span></a>
</div>
<div class="mt-2 mb-2 has-text-centered">
    <a href="{{ url_for('jadwalkuliah') }}" class="button is-danger is-rounded is-light is-fullwidth"><span class="icon is-small"><i class="fas fa-chevron-left"></i></span><span>Kembali</span></a>
</div>
</div>

{% endblock %}
