<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
        <a class="navbar-item" href="#">
            <i class="fa fa-graduation-cap"></i>
        </a>
    
        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
        </div>
    
        <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="{{ url_for('jadwalkuliah_all') }}">
            Beranda<i> (i)</i>
            </a>
    
            <a class="navbar-item" href="{{ url_for('blog') }}">
            Blog
            </a>
            {%if current_user.user_level >= 2%}
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    Lainnya
                </a>
        
                <div class="navbar-dropdown">
                    <a class="navbar-item">
                    About
                    </a>
                </div>
            </div>
            {%endif%}
        </div>
        
            <div class="navbar-end">
                {% if current_user.is_authenticated %}
                        {%if current_user.user_level >= 2%}
                        <a class="navbar-item" href="{{ url_for('account') }}">
                        Akun Saya
                        </a>
                        {%endif%}
                        {%if current_user.user_level >= 4%}
                        <a class="navbar-item" href="{{ url_for('masterdosen')}}"> Admin</a>
                        {%endif%}
                        <a class="navbar-item" href="{{ url_for('logout')}}">
                            Logout
                        </a>
                {% else %}
                <div class="navbar-item">
                        <div class="buttons">
                            <a class="button is-primary is-light" href="{{url_for('login')}}">
                                <span class="icon is-small">
                                    <i class="fa fa-sign-in-alt"></i>
                                </span>
                                <span>Login</span>
                            </a>
                            <a class="button is-warning" href="{{url_for('register')}}">
                                <span class="icon is-small">
                                    <i class="fa fa-user-plus"></i>
                                </span>
                                <span>Register</span>
                            </a>
                        </div>
                </div>
                {% endif %}
            </div> <!--Nav bar end-->
        </div> <!--nav bar menu-->
        </div> <!--container-->

  </nav>