{% extends "login-layout.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<div class="box">           
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="notification is-{{ category }} is-light">
                            {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}

                <p class="title has-text-primary">Daftar Akun Baru</p>
                <form method="POST" action="">

                    {{ form.hidden_tag() }}
                    

                    <div class="field">
                        {{ form.username.label(class="label") }}
                        <p class="control has-icons-left">
                            <span class="icon is-small is-left">
                                <i class="fas fa-user"></i>
                            </span>
                            {% if form.username.errors %}
                                {{ form.username(class="input is-danger") }}
                                <div class="help is-danger">
                                    {% for error in form.username.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.username(class="input") }}
                            {% endif %}
                        </p>
                    </div>

                    <div class="field">

                        {{ form.email.label(class="label") }}
                        <p class="control has-icons-left">
                            <span class="icon is-small is-left">
                                <i class="fas fa-envelope-square"></i>
                            </span>
                            {% if form.email.errors %}
                                {{ form.email(class="input is-danger") }}
                                    <div class="help is-danger">
                                        {% for error in form.email.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                            {% else %}
                                {{ form.email(class="input") }}
                                
                            {% endif %}
                        </p>
                    </div>

                    <div class="field">
                        {{ form.password.label(class="label") }}
                        <p class="control has-icons-left">
                            <span class="icon is-small is-left">
                                <i class="fas fa-unlock"></i>
                            </span>
                            {% if form.password.errors %}
                                {{ form.password(class="input is-danger") }}
                                    <p class="help is-danger">
                                        {% for error in form.password.errors %}
                                           {{ error }}
                                        {% endfor %}
                                    </p>
                                    
                            {% else %}
                                {{ form.password(class="input") }}
                            {% endif %}
                        </p>
                    </div>

                    <div class="field">
                        {{ form.confirm_password.label(class="label") }}
                        <p class="control has-icons-left">
                            <span class="icon is-small is-left">
                                <i class="fas fa-key"></i>
                              </span>
                            {% if form.confirm_password.errors %}
                                {{ form.confirm_password(class="input is-danger") }}
                                    <div class="help is-danger">
                                        {% for error in form.confirm_password.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                            {% else %}
                                {{ form.confirm_password(class="input") }}
                            {% endif %}
                        </p>
                    </div>

                    <div class="control">
                        {{ form.submit(class="button is-primary is-fullwidth")}}
                    </div>
                </form>
                <div class="mt-2"></div>
                <p class="has-text-grey-darker has-text-centered">Sudah Punya Akun? <a href="{{ url_for('login') }}" >Login</a></p>

    </div> <!--Container-->
{% endblock %}